a { color: #377ba8; }

body {
    max-width: 960px;
    margin: 0 auto;
    background: white;
}

code {
    font-family: Consolas,"Liberation Mono",monospace;
    white-space: pre-wrap;
    background: white;
}

form { display: flex; flex-direction: column; }

h1 { font-family: serif; color: #377ba8; margin: 1rem 0; }

hr { border: none; border-top: 1px solid lightgray; }

html {
    font-family: sans-serif;
    padding: 1rem;
}

input[type=submit] {
    align-self: start;
    background: #12ad2b;
    min-width: 10em;
}

input[class=new-password] { max-width: 40em; }

input[class=delete-text] { background: #ff0000; }

input, select {
    margin-bottom: 1em;
    max-width: 15em;
    border-radius: 0.5em;
}

label { margin-top: 0.4em; }

nav {
    border-radius: 1em;
    padding: 0.5rem;
    background: lightgray;
    display: flex;
    flex: auto;
    align-items: center;
}

nav a { text-decoration: none; }

nav h1 { margin: 0; }

nav h1 a { padding: 0.25rem 0.5rem; }

nav ul { display: flex; list-style: none; margin: 0; padding: 0; }

nav ul li a, nav ul li span, header .action { display: block; padding: 0.5rem; }

section { height: 100%; }

select { align-self: start; min-width: 10em; }


.content { padding: 1em; }

.copy-text-url {
    border-width: 0;
    background-color: transparent;
    margin-left: 0.5em;
    cursor: pointer;
}

.delete-button {
    border-width: 0;
    background-color: transparent;
    cursor: pointer;
}

.search-result-item { list-style: none; }

.search-result-title {
    font-size: larger;
    margin-top: 2em;
}

.search-result-highlights { list-style: none; }

.search-result-highlights-item {
    margin: 0.5em 0;
}

.search-result-highlights-item em {
    background: yellow;
    font-style: normal;
}

.text-created { font-style: italic; }

.text-expires { font-style: italic; }

.text-item-details { list-style: none; }

.text-url { font-weight: bold; }


#copy-new-text-url {
    border-width: 0;
    background-color: transparent;
    cursor: pointer;
}

.editable {
    border: 1px solid #aaa;
    border-radius: 1em;
    height: 70vh;
    margin-bottom: 1em;
    overflow-y: auto;
    padding: 1em;
}

#editable-placeholder { color: #aaa; }

.flash {
    margin: 1em 0;
    border: 1px solid #377ba8;
    border-radius: 1em;
    padding: 1em;
    background: #cae6f6;
}

#login-form input { border: 1px solid; }

#new-text-message {
    margin-bottom: 1em;
    border-radius: 1em;
    padding: 1em;
    background-color: lightgreen;
}

#register-form input { border: 1px solid; }

#search-bar-field {
    margin: 0 0 0 2em;
    max-width: 20em;
    border: 0;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#search-bar-nav {
    display: flex;
    flex-direction: row;
    margin-right: auto;
}

#search-results-page-navigation {
    display: flex;
    margin: 2em 0;
}

#search-results-next-page {
    margin-left: 1em;
    margin-right: auto;
}

#search-results-next-page-only { margin: auto; }

#search-results-previous-page {
    margin-left: auto;
    margin-right: 1em;
}

#search-results-previous-page-only { margin: auto; }

#share-new-text-icon { margin-right: 0.2em; }

#share-new-text-nav {
    align-items: center;
    display: flex;
    margin-left: 1em;
}

#submit-search {
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

@media screen and (max-width: 768px) and (webkit-min-device-pixel-ratio: 2) {
    html { font-size: 3vw; }

    input { font-size: 3vw; }

    select { font-size: 3vw; }
}
