{% extends 'base.html' %}

{% block content %}

<div class="album-info">
  <h2>{{ album_info['album_name'] }}</h2>
  <p class="album-creation-timestamp">Album created on {{ album_info['creation_timestamp']|fmt_ts }}</p>
</div>

<div class="image-collection">
{% for image in images %}

<div class="image-item">
  <a class="image-thumbnail" href="{{ url_for('get_image', image_id=image['image_id']) }}">
  <img src="{{ (image['image_id']~'.thumbnail')|image_url }}"/>
  </a>
  <p class="image-publication-timestamp">{{ image['publication_timestamp']|fmt_ts }}</p>
</div>

{% else %}
<div class="no-image">There are no images in this album. <a href="{{ url_for('put_image') }}">Publish an image</a></div>

{% endfor %}
</div>

{% endblock %}
