<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block title %}{%endblock %}MesPhotos</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav id="menu">
  <h1><a href="{{ url_for('index') }}">MesPhotos</a></h1>
  <div id="hamburger">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>
  <ul id="menu-list">
    {% if g.user_id %}
      <li><a href="{{ url_for('put_image') }}">Publish Image</a></li>
      <li><a href="{{ url_for('put_album') }}">Create Album</a></li>
      <li><a href="{{ url_for('user_images', user_id=g.user_id) }}">My Images</a></li>
      <li><a href="{{ url_for('user_albums', user_id=g.user_id) }}">My Albums</a></li>
      <li><a href="{{ url_for('friends', user_id=g.user_id) }}">Friends</a></li>
      <li><a href="{{ url_for('follow_user') }}">Follow user</a></li>
      <li id="logout" ><img class="avatar" src="{{ g.avatar_url }}">Hello, {{ g.user_id }}!<a href="{{ url_for('auth.logout') }}">Log Out</a></li>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a></li>
      <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
<footer>
  <nav id="footer">
    <ul>
      <li><a href="{{ url_for('terms_conditions') }}">Terms and Conditions</a></li>
      <li><a href="{{ url_for('privacy_policy') }}">Privacy Policy</a></li>
      <li><a href="{{ url_for('contact') }}">Contact</a></li>
    </ul>
  </nav>
</footer>

<script>
function toggleMenu() {
  const menu = document.getElementById("menu-list");
  if (menu.style.display == "flex") {
    menu.style.display = "none";
  }
  else {
    menu.style.display = "flex";
  }
}
document.getElementById("hamburger").addEventListener("click", toggleMenu);
</script>
