{% extends 'base.html' %}

{% block content %}

<div class="image">
  <p><img src="{{ url_for('get_static_image', image_id=image_id) }}"/></p>
  <p class="image-description">{{ image_description }}</p>
  <p class="image-publication-timestamp">Published on {{ publication_timestamp }}</p>
  <p class="image-tags">Tags: {{ tags }}</p>
</div>

<div class="image-like">
    {% if user_liked_image %}
    <img id="image-like" src="{{ url_for('like_on_icon') }}">
    <button id="button-like" onclick="likeImage" disabled>Like</button>
    {% else %}
    <img id="image-like" src="{{ url_for('like_off_icon') }}">
    <button id="button-like" onclick="likeImage()">Like</button>
    {% endif %}
</div>

<div class="image-comments">
{% for comment in comments %}
  <div class="comment-item">
    <p class="comment-info">{{ comment['user_id'] }} {{ comment['creation_timestamp'] }}</p>
    <p class="comment-text">{{ comment['comment'] }}</p>
  </div>
{% endfor %}
</div>

<div class="new-comment">
  <form method="post">
    <textarea id="comment" name="comment" rows="4" cols="50" placeholder="Write a message"></textarea>
    <input type="submit" value="Submit">
  </form>
</div>

<script>
function likeImage(form) {
  const like_url = {{ url_for("like_image")|tojson }};
  var data = new FormData();
  data.append("image_id", "{{ image_id }}");
  fetch(like_url, {"method": "POST", "body": data}).then(
    (resp) => {
      const like_button = document.getElementById("button-like");
      like_button.setAttribute("disabled", "");
      const like_image = document.getElementById("image-like");
      like_image.setAttribute("src", "{{ url_for('like_on_icon') }}");
    }
  );
}
</script>

{% endblock %}
