{% extends 'base.html' %}

{% block content %}

In the present document, "we" refer to the site administrators, "the site" and
"the application" refer to the website where the present page is hosted.

We are committed to protecting the privacy and accuracy of confidentials
information. We do not share, distribute, or sell personal information
collected on our service.

<h2>Information collected</h2>

<h3> Monitoring and analytics</h3>

The application collects following information when users register:

<ul>
  <li>First name</li>
  <li>Last name</li>
  <li>Username</li>
  <li>Password</li>
  <li>Date and time</li>
</ul>

In addition, the following is collected during any browsing:

<ul>
  <li>IP address of the computer being used</li>
  <li>Web pages requested</li>
  <li>Browser used</li>
  <li>Date and time</li>
</ul>

<h3>Cookies</h3>

The application uses cookies to store user session information. Sensitive
personal information is not stored in cookies.

<h2>Use of collected information</h2>

We only use collected information for the following purposes:

<ul>
  <li>Analyze site access</li>
  <li>Troubleshoot site issues</li>
</ul>

<h2>Distribution of collected information</h2>

We will not disclose personal information collected about users, nor
distribute or sell personal information to third-party organizations.

<h2>Privacy policy revisions</h2>

This privacy policy was last revised on 2023/03/11. We may change this privacy
statement at any time and for any reason, therefore we encourage users to visit
the privacy statement each time they visit the site.

{% endblock %}
