{% extends 'base.html' %}

{% block header %}
<h2>Publish an image</h2>
{% endblock %}

{% block content %}

{% if message %}
  <div class="flash">{{ message }}</div>
{% endif %}

<form method="post" enctype="multipart/form-data">
  <label for="image">Upload an image (JPEG, PNG, or BMP)</label>
  <input type="file" name="image" id="image" accept="image/*">
  <label for="description">Description</label>
  <textarea name="image-description" id="image-description" placeholder="Write an image description..."></textarea>
  <label for="album-name">Album name</label>
  <select name="album-name" id="album-name">
  {% for name in user_albums %}
    <option value="{{ name }}">{{ name }}</option>
  {% endfor %}
  </select>
  <label for="tags">Tags</label>
  <input type="text" name="tags" id="tags" placeholder="Words separated by space">
  <input type="submit" value="Publish Image">
</form>

<div id="preview-image-div" hidden>
<p>Image preview</p>
<img id="preview-image" src="#" width="1080" height="1080"/>
</div>

<script>
  var image = document.getElementById("image");
  image.onchange = event => {
    const [file] = image.files;
    if (file) {
        document.getElementById("preview-image").src = URL.createObjectURL(file);
    }
    document.getElementById("preview-image-div").removeAttribute("hidden");
  }
</script>


{% endblock %}
