{% extends 'base.html' %}

{% block content %}

<h2>Owner, offering, and binding of terms</h2>

This website is owned and operated by Jonathan Schnabel. The present document
defines the terms and conditions under which you may use the website. This
website offers visitors an application to display, share, and comment images.
By accessing or using the website, you approve that you have read, understood,
and agree to be bound by these terms.

<h2>Ownership of intellectual property, copyrights, and logos</h2>

You recognize and agree that by uploading any content (including, but not
limited to images, animations, illustrations, artworks, text) through any means
to the website, you confirm that you own all the relevant rights or received
the appropriate license to upload, transfer, or send the content. You agree and
consent that the uploaded content is publicly displayed on the website.

<h2>Illegal contents or use</h2>

You may not use the website in a manner that is unlawful or prohibited by the
present terms and conditions. You may not upload any content that is unlawful
or prohibited by the present terms and conditions. If you see any content that
is unlawful or prohibited by the present terms and conditions, contact the
website owner using means described on
<a href="{{ url_for('contact') }}">the contact page</a>.

<h2>Right to suspend or cancel user accounts</h2>

We may permanently or temporarily suspend or terminate your access to the
website without notice and liability for any reason, including if in our sole
determination you violate any provision of these terms or any applicable law or
regulation.

You may discontinue use and request to cancel your account at any time. To do
so, contact the website owner using means described on
<a href="{{ url_for('contact') }}">the contact page</a>.

<h2>Limitation of liability</h2>

To the maximum extent permitted by applicable law, in no event shall the
website owner be liable for any indirect, punitive, incidental, special,
consequential, or exemplary damages, including without limitation, damages for
loss of profits, goodwill, use, data, or other intagible losses, arising out of
or relating to the use of, or inability to use, the website.

To the maximum extent permitted by applicable law, the website owner assumes no
liability or responsibility for (1) any errors, mistakes, or inaccuracies of
content; (2) personal injury or property damage, or any nature whatsoever,
resulting from your access to or use of our website; and (3) any unauthorized
access to or use of our secure servers and/or any and all personal information
stored therein.

<h2>Right to modify terms and conditions</h2>

These terms and conditions were last revised on 2023/03/11.
We reserve the right to modify these at any time at our sole discretion.
Therefore, we recommend that you review terms and conditions every time you
visit our website. Your continued use of the website after any such change
constitutes your acceptance of the new terms. If you do not agree to any of
these terms or any future version of the terms, do not use or access (or
continue to access) the website.

<h2>Dispute resolution</h2>

These terms and conditions, the rights and remedies provided hereunder, and any
and all claims and disputes related hereto and/or to the website, shall be
governed by, construed under and enforced in all respects solely and
exclusively in accordance with the internal substantive laws of the United
States of America, without respect to its conflict of laws principles.

<h2>Contact</h2>

To receive user support for services offered by the website, contact the
website owner using means described on
<a href="{{ url_for('contact') }}">the contact page</a>.

{% endblock %}
