{% extends 'base.html' %}

{% block header %}
<h2>My images</h2>
{% endblock %}

{% block content %}

<div class="image-collection">
{% for image in images %}
<div class="image-item">
    <a class="image-thumbnail" href="{{ url_for('get_image', image_id=image['image_id']) }}">
    <img src="{{ (image['image_id']~'.thumbnail')|image_url }}"/>
    </a>
  <p class="image-publication-timestamp">{{ image['publication_timestamp']|fmt_ts }}</p>
</div>
{% else %}
</div>

<div class="no-image">You have no images, yet. <a href="{{ url_for('put_image') }}">Publish an image</a></div>

{% endfor %}

{% endblock %}
