{% extends 'base.html' %}

{% block header %}

{% if user_id == g.user_id %}
<h2>My albums</h2>
{% else %}
<h2>{{ user_id }}'s albums</h2>
{% endif %}
{% endblock %}

{% block content %}

<div class="album-collection">
{% for album in albums %}

<div class="album-item">
  <a class="album-icon" href="{{ url_for('album_info', album_name=album, user_id=user_id) }}">
  <img src="{{ url_for('album_icon') }}" height="128" width="128"/>
  </a>
  <p class="album-name">{{ album }}</p>
</div>

{% endfor %}
</div>

{% endblock %}
