{% extends 'base.html' %}

{% block content %}
    {% if message %}
        <div class="flash">{{ message }}</div>
    {% endif %}

    <div id="editable" class="editable" contenteditable="true">
        <span id="editable-placeholder">Paste contents here (up to 512,000 characters)</span>
    </div>
    <form method="post" action="{{ url_for('index') }}" onsubmit="return getContent()">
        <textarea name="text-body" id="text-body" style="display:none"></textarea>
        <label for="ttl">Expire after</label>
        <select name="ttl" id="ttl">
            <option value="1d">1 day</option>
            <option value="1w">1 week</option>
            <option value="1m">1 month</option>
            <option value="1y">1 year</option>
        </select>
        <input type="submit" value="Store text">
    </form>

    <script>
        document.addEventListener(
            "DOMContentLoaded",
            function(e) {
                var editable = document.getElementById("editable");
                editable.onclick = function() {
                    editable.innerHTML = "";
                    editable.onclick = null;
                }
            }
        )
        function getContent() {
            document.getElementById("text-body").value = document.getElementById("editable").innerHTML;
        }
    </script>
{% endblock %}
