{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Enter a long URL to make it short{% endblock %}</h2>
{% endblock %}

{% block content %}
  {% if message %}
    <div class="flash">{{ message }}</div>
  {% endif %}

  <form method="post">
      <label for="longurl">Long URL</label>
      <input name="longurl" id="longurl" required>
      <label for="custom-alias">Custom alias (optional)</label>
      <input name="custom-alias" id="custom-alias">
      <label for="ttl">Expire after</label>
      <select name="ttl" id="ttl">
        <option value="1h">1 hour</option>
        <option value="1d">1 day</option>
        <option value="1w" selected="selected" >1 week</option>
        <option value="1m">1 month</option>
        <option value="1y">1 year</option>
      </select>
      <input type="submit" value="Make short">
  </form>

  {% if myurls %}
     <h2>My URLs</h2>
     {% for url in myurls %}
       <div class="url-item">
         <ul class="url-item-details">
             <li class="alias-url">{{ url['alias'] }}</li>
             <li class="original-url">{{ url['original'] }}</li>
             <li class="created-on">Created on: {{ url['created_on'] }}</li>
             <li class="expires-on">Expires on: {{url['ttl'] }}</li>
         </ul>
       </div>
     {% endfor %}
  {% endif %}

{% endblock %}
